force-app/main/default/flows/Lead_Conversion_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Tank_Found_Decision</name>
        <label>Tanque Encontrado?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Obtener_Tipo_de_Tanque_Deseado_para_Pedido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Tank_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Available_Tank.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tank_Status_to_Reserved</targetReference>
            </connector>
            <label>Sí, Tanque Disponible</label>
        </rules>
    </decisions>
    <description>Automatiza la asignación de Tanque o la creación de Pedido al convertir un Lead.</description>
    <environments>Default</environments>
    <formulas>
        <description>Genera el nombre para un nuevo Pedido cuando no se encuentra un tanque.</description>
        <name>Formula_Nombre_Pedido_Nuevo</name>
        <dataType>String</dataType>
        <expression>&quot;Pedido para &quot; &amp; {!$Record.Company} &amp; &quot; - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <interviewLabel>Automatización de Conversión de Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatización de Conversión de Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_for_Customer</name>
        <label>Crear Pedido para Cliente</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>nuevo_pedido</assignRecordIdToReference>
        <connector>
            <targetReference>Associate_Order_to_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Capacidad_Deseada__c</field>
            <value>
                <elementReference>$Record.Capacidad_Deseada_del_Tanque__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estado_del_Pedido__c</field>
            <value>
                <stringValue>Pendiente</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nombre_de_Pedido__c</field>
            <value>
                <elementReference>Formula_Nombre_Pedido_Nuevo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_Maximo_Deseado__c</field>
            <value>
                <elementReference>$Record.Precio_Maximo_Deseado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Precio_Minimo_Deseado__c</field>
            <value>
                <elementReference>$Record.Precio_Minimo_Deseado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_Tanque_Deseado__c</field>
            <value>
                <elementReference>Obtener_Tipo_de_Tanque_Deseado_para_Pedido.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Pedido__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Available_Tank</name>
        <label>Buscar Tanque Disponible</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tank_Found_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estado__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disponible</stringValue>
            </value>
        </filters>
        <filters>
            <field>Capacidad_Maxima_Tanque__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Capacidad_Deseada_del_Tanque__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capacidad_Minima_Tanque__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Capacidad_Deseada_del_Tanque__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Precio_Base_Tanque__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Precio_Minimo_Deseado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Precio_Base_Tanque__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Precio_Maximo_Deseado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tanque__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca el Tipo de Tanque que coincide con las características deseadas del Lead para el Pedido.</description>
        <name>Obtener_Tipo_de_Tanque_Deseado_para_Pedido</name>
        <label>Obtener Tipo de Tanque Deseado para Pedido</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_for_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Capacidad_Minima__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Capacidad_Deseada_del_Tanque__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capacidad_Maxima__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Capacidad_Deseada_del_Tanque__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Precio_Base__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Precio_Maximo_Deseado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Precio_Base__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Precio_Minimo_Deseado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tipo_de_Tanque__c</object>
        <sortField>Precio_Base__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Order_to_Opportunity</name>
        <label>Asociar Pedido a Oportunidad</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pedido_Asociado__c</field>
            <value>
                <elementReference>nuevo_pedido</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Tank_to_Opportunity</name>
        <label>Asociar Tanque a Oportunidad</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Find_Available_Tank.Precio_Base_Tanque__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tanque_Asociado__c</field>
            <value>
                <elementReference>Find_Available_Tank.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tank_Status_to_Reserved</name>
        <label>Actualizar Estado de Tanque a Reservado</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Associate_Tank_to_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Available_Tank.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Estado__c</field>
            <value>
                <stringValue>Reservado</stringValue>
            </value>
        </inputAssignments>
        <object>Tanque__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Available_Tank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>nuevo_pedido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
